body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-image: url("light-aquamarine-shine-rough-abstract-background-design_851755-332290.jpg")
}

.profile {
    display: flex;
    align-items: center;
    ;
}

.profile img {
    width: 150px;
    height: 200px;
    border-radius: 50% ;
    border: 2px solid #333;
    
    float: left;
    width: 150px;
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 50px;
   
}

.profile h2 {
    margin: 0;
    margin-bottom: 50px;
    

}

.Informasi p {
    margin: 3px 0;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}


.profile ul {
    margin-top: 150px;
    margin-right: 200px;
}





hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.box-biodata {
    width:95%;
    margin: 30% auto;
    padding: 20px;
    border: 0px solid #333;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
   margin-top: 0px;
    margin-bottom: 50px;
 
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
}


p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.6;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}